body{
    background-color: lightblue;
}

nav{
    margin:2% 11% 0% 11%;
    height:40px;
}

.logo{
    margin:2% 11% 0% 11%;
    width: 300px;
    height:50;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:darkgrey;
    border-radius: 6px;
}

nav ul li{
    display: inline-block;
    line-height: 40px;
    float: none;
}
nav ul li a{
    text-decoration: none;
    line-height:40px;
    padding: 14px 16px;
    color:white;
}

nav ul li a:hover{
    background-color:red;
    color:white;
}

.container{
    margin-top: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.left{
    float: left;
    width:69%;
    padding: 5px 0px 20px 0px; 
}
    
article h1{
    color:black;
}
    
    
.ltop{
    background-color: white;
    padding: 15px 10px; 
    border: 1px solid gray;
    margin: 10px;
    border-radius: 6px;		
}

.lbottom{
    background-color: white;
    padding: 15px 10px; 
    margin: 10px;
    border: 1px solid gray;
    border-radius: 6px;
}
    
.right{
    float: left;
    width: 31%;
    margin: 5px 0px 20px 0px;  
}

.rtop{   
    margin:11px;
    padding: 15px 10px; 
    background-color: white;
    border: 1px solid gray;   
    border-radius: 6px; 
}
    
.rmiddle{        
    background-color: white;
    padding: 15px 10px; 
    border: 1px solid gray;
    margin:11px;    
    border-radius: 6px;
}

.rbottom{
    background-color: white;
    padding: 15px 10px; 
    border: 1px solid gray;
    margin:11px;
    border-radius: 6px;
}

.footer {
    float: left;
	padding: 15px;
    width: 94%;
    border-radius:7px;
    margin: 1% 2% 1% 1%;  
    background-color: darkgray;
    color: white;
}

.footer span{
	color:red;	
}

@media screen and (max-width: 700px) {
    .right{
        width: 100%;
    }
        
    .left{
        width:100%;
    }

    .container{
        margin-left:2%;
        margin-right:2%;

    }
    nav ul li {
        float: none;
        width: 100%;
        text-align: center;

    }

    nav{
        margin-left:4%;
        margin-right:4%;
        height:auto;
    }
}